html, body{
	font-size:16px;
	color: #fff;
	background-color: transparent; 
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.parallax-section {
    width: 100%;
    height: 100vh; /* Full viewport height for each section */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.section-1 {
    background-image: url('../img/bg2.png'); /* Replace with Welcome background */
}

.section-2 {
    background-image: url('../img/castle-1.png'); /* Replace with Venue background */
}

.section-3 {
    background-image: url('../img/2022.10.01 K & J Wedding _ Kristy Taylor Co.-842.JPEG'); /* Replace with Memory Lane background */
}

.section-4 {
    background-image: url('../img/library.png'); /* Replace with Welcome background */
}

.section-5 {
    background-image: url('../img/golf-2.png'); 
}

/* a.nav-item {
	color: #dfdfdf;
} */

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

.regular-section {
    background-color: #f6f8f5; /* Light gray background */
    padding: 100px 20px;
    text-align: center;
}

.regular-section .content {
    max-width: 800px;
    margin: 0 auto;
    color: #333;
}

/* .parallax-background {
    background-image: url('../img/bg2.png');
	background-color: lightblue;
	opacity: 0.42; 
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    z-index: -3;
}

.parallax-2-background {
    background-image: url('../img/castle.JPEG');
	background-color: lightblue;
	opacity: 0.42; 
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    z-index: -3;
}

.parallax-3-background {
    background-image: url('../img/2022.10.01 K & J Wedding _ Kristy Taylor Co.-842.JPEG');
	background-color: lightblue;
	opacity: 0.42; 
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    z-index: -3;
} */

/* .parallax-clouds {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../img/cloud.jpeg'); /* Add your cloud image here */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    z-index: -2;
} */

/* Content styling */
.content {
    position: relative;
    padding: 100px 0; /* Adjust as needed */
    text-align: center;
    z-index: 1;
}

.animated-png {
    position: relative;
	width: 30%;
    top: 10%;
    left: -5%;
    animation: floatHorizontally 15s infinite linear;	
	z-index: 1;
}

.animated-png-2 {
    position: relative;
	width: 30%;
    top: 15%;
    left: -15%;
    animation: floatFadeAcross 18s infinite alternate;
	animation-delay: 2s;
	z-index: 2;
}

.animated-png-3 {
    position: relative;
	width: 30%;
    top: 18%;
    left: -10%;
    animation: floatHorizontally 15s infinite alternate;
	animation-delay: 1s;
	z-index: 3;
}

@keyframes float {
    0% { transform: translateX(0); }
    100% { transform: translateX(100vw); }
}

@keyframes fadeFloat {
    0% { transform: translateY(0); opacity: 0; }
    50% { opacity: 1; }
    100% { transform: translateY(-50px); opacity: 0; }
}

@keyframes floatHorizontally {
    0% { transform: translateX(0); }
    100% { transform: translateX(100vw); }
}

/* Vertical Float */
@keyframes floatVertically {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50px); }
}

@keyframes floatFadeAcross {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 0;
    }
    25% {
        opacity: 1; /* Fully visible */
    }
    50% {
        transform: translateX(50vw) translateY(-20px);
        opacity: 1;
    }
    75% {
        opacity: 1; /* Fully visible */
    }
    100% {
        transform: translateX(100vw) translateY(0);
        opacity: 0;
    }
}

/* .video-section {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.parallax-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw; 
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1; 
}

.video-section .content {
    position: relative;
    z-index: 1;
    color: white; 
    text-align: center;
    padding: 20px;
} */

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
